{% extends 'base.html' %}

{% block head %}
<title>Objavi delo</title> 
{% endblock %}

{% block body %}
<h1>Apply for the job</h1>

    <hr>


    <!--  formular kamor folk vpise podatke za nov povst-->
    <form action='{{ action_url }}' method='POST'>
               <!--  -->
        <br>
        <label for="Name">Name:</label>
        <input class="form-control" type="text" name='offer' id='offer' placeholder="Mr or miss" aria-label="Enter Offer" required minlength="1" maxlength="3">
        <br>
        <label for="email">Email:</label>
        <input class="form-control" type="email" name='email' id='email' placeholder="vnesi svoj email" aria-label="Enter Email" required
            oninvalid="this.setCustomValidity('Enter valid email')"
            oninput="this.setCustomValidity('')">
    </form>

    
    <hr>
{% endblock %}