{% extends 'base.html' %}

{% block head %}
<title>applys</title> 
{% endblock %}
{# coment #}
{% block body %}
<br>
<div>
    <h1 style="display:inline">APPLY TEST</h1>
</div>
    <hr>
  
    {% for apply in applys %}
        <br>
        <br>
        <p style="white-space:pre-wrap">{{ apply.name_apply }}</p>
        <br>
        <br>
        <p style="white-space:pre-wrap">{{ apply.email_apply }}</p>
        <br>
        <!--  klice nazaj povezavo na app.py za povsts in delete-->
        <a class="btn btn-info" href='/apply/apply/{{apply.id}}'>Apply</a>
        <br>
        <hr>
        <br>
    {% endfor%}

{% endblock %}