{% extends 'base.html' %}

{% block head %}
<title>Objavi delo</title> 
{% endblock %}

{% block body %}
<div class="flex justify-center">

    <hr>
    
    <form class="border border-gray-300 rounded-lg p-4" action='/posts/edit/{{post.id}}' method='POST'>
        <div>
                <!-- Form for editing -->
    <h1 class="text-2xl font-semibold">{{ gettext("Edit the post") }}</h1>
    <br>
            <label class="text-1xl font-semibold" for="title">{{ gettext("Title") }}:</label>
            <input class="form-control mt-2 p-2 border rounded-lg w-full" type="text" name='title' id='title' value="{{ post.title }}" aria-label="Enter Title">
        </div>
        <br>
        <div>
            <select name="category" id="categories" class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full">
                {% for category in categories %}
                    {% set is_selected = 'selected' if category == post.category else '' %}
                    <option value="{{ category.id }}" {{ is_selected }}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label for="offer" class="text-1xl font-semibold">{{ gettext("Offer") }}:</label>
            <input class="form-control mt-2 p-2 border rounded-lg w-full" type="text" name='offer' id='offer' value="{{ post.offer }}" aria-label="Enter Offer">
        </div>
        <br>
        <div>
            <label for="email" class="text-1xl font-semibold" >{{ gettext("Email") }}:</label>
            <input class="form-control mt-2 p-2 border rounded-lg w-full" type="text" name='email' id='email' value="{{ post.email }}" aria-label="Enter Email">
        </div>
        <br>
        <div>
            <label for="content" class="text-1xl font-semibold">{{ gettext("Post") }}:</label>
            <textarea class="form-control mt-2 p-2 border rounded-lg w-full" name='content' id="content" aria-label="Enter Content" rows="3">{{ post.content }}</textarea>
        </div>
        <br>
        <!-- Styled "Save" button as a link button -->
        <div>
            <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href='/posts'>{{ gettext("Save") }}</a>
        </div>
    </form>
    <hr>
</div>
{% endblock %}
