{% extends 'base.html' %}

{% block head %}
<title>Objavi delo</title> 
{% endblock %}

{% block body %}
<div class="flex justify-center">
    <!-- Form for editing -->
    <h1>{{ gettext("Edit the post") }}</h1>
    <hr>
    
    <form action='/posts/edit/{{post.id}}' method='POST'>
        <br>
        <div>
            <label class="text-2xl font-semibold" for="title">{{ gettext("Title") }}:</label>
            <input class="form-control" type="text" name='title' id='title' value="{{ post.title }}" aria-label="Enter Title">
        </div>
        <br>
        <div>
            <select name="category" id="categories">
                {% for category in categories %}
                    {% set is_selected = 'selected' if category == post.category else '' %}
                    <option value="{{ category.id }}" {{ is_selected }}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label for="offer">{{ gettext("Offer") }}:</label>
            <input class="form-control" type="text" name='offer' id='offer' value="{{ post.offer }}" aria-label="Enter Offer">
        </div>
        <br>
        <div>
            <label for="email">{{ gettext("Email") }}:</label>
            <input class="form-control" type="text" name='email' id='email' value="{{ post.email }}" aria-label="Enter Email">
        </div>
        <br>
        <div>
            <label for="content">{{ gettext("Post") }}:</label>
            <textarea class="form-control" name='content' id="content" aria-label="Enter Content" rows="3">{{ post.content }}</textarea>
        </div>
        <br>
        <!-- Styled "Save" button as a link button -->
        <div>
            <a class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg" href='/posts'>{{ gettext("Save") }}</a>
        </div>
    </form>
    <hr>
</div>
{% endblock %}
