<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
        color: #222;
      }
      p {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Please contact</h1>
    <p>Hello,</p>
    <p>{{ gettext("Please contact") }} {{ email_applys }} {{ gettext("for more information.") }} </p>
    <p>{{ gettext("If you did not request this information, please ignore this email.") }}</p>
    <p>{{ gettext("Thanks for reading!") }}</p>
  </body>
</html>
