{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Moje delo</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Pozdravljen</h1>
            <p>Kaj bi danes počel</p>
            <p></p>
            <p>
                <a class="btn btn-primary" href="/mainposts" role="button">Oddaj svojo ponudbo ali najdi delo &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}
