{% extends 'base.html' %}

{% block head %}
<title>Objavi delo</title> 
{% endblock %}

{% block body %}
<h1>Oddaj povpraševanje</h1>

    <hr>


    <!--  formular kamor folk vpise podatke za nov povst-->
    <form action='/save_post' method='POST' id="newPostForm">
        <label for="title">Ime:</label>
        <input class="form-control" type="text" name='title' id='title' placeholder="ime dela" aria-label="Enter Title">
        <!-- jaka naredil da izpiše kategorije-->
        <label for="category">Kategorija:</label>
        <select name="category" id="categories">
        {% for category in categories %}
            <li>{{category.name}}</li>
            <option value="{{category.id}}">{{category.name}}</option>
        {% endfor%}
        </select>

        <!--  -->
        <br>
        <label for="offer">Ponudba:</label>
        <input class="form-control" type="text" name='offer' id='offer' placeholder="vnesi ponudbo" aria-label="Enter Offer">
        <br>

<!--       FIX THIS OFFERS CAN BE THE SAME <input class="form-control" type="text" name='offer' id='offer' placeholder="vnesi ponudbo" aria-label="Enter Offer" required minlength="1" maxlength="3">-->
<!--        <br>-->
        <label for="email">Email:</label>
        <input class="form-control" type="email" name='email' id='email' placeholder="vnesi svoj email" aria-label="Enter Email" required
            oninvalid="this.setCustomValidity('Enter valid email')"
            oninput="this.setCustomValidity('')">
        <br>
        <label for="content">Opis dela:</label>
        <textarea class="form-control" name='content' id="content" placeholder="Opis" aria-label="Enter Content" rows="3"></textarea>
        <!--  spodi sam submita ne poveže pa v bazo-->
         {{ hcaptcha }}
        <input type='submit' value='Objavi'>
    </form>

    <script>
        document.querySelector("#newPostForm").addEventListener("submit", function(event) {
           var hcaptchaVal = document.querySelector('[name="h-captcha-response"]').value;
           if (hcaptchaVal === "") {
              event.preventDefault();
              alert("Please complete the hCaptcha");
           }
        });
    </script>

    
    <hr>
{% endblock %}