{% extends 'base.html' %}

{% block head %}
    <title>{{ gettext("Post offer") }}</title> 
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold text-center mb-4">{{ gettext("Submit Your inquiry") }}</h1>

    <hr class="mb-4">

    <form action='/save_post' method='POST' id="newPostForm" class="mx-auto max-w-md">
        <div class="mb-4">
            <label for="title" class="block text-gray-700 font-bold mb-2">{{ gettext("Name:") }}</label>
            <input class="form-input" type="text" name='title' id='title' placeholder="{{ gettext('Work Title:') }}" aria-label="Enter Title">
        </div>

        <div class="mb-4">
            <label for="category" class="block text-gray-700 font-bold mb-2">{{ gettext("Category:") }}</label>
            <select name="item" id="item" class="form-select text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                {% for item in items %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        

        <div class="mb-4">
            <label for="offer" class="block text-gray-700 font-bold mb-2">{{ gettext("Offer:") }}</label>
            <input class="form-input" type="text" name="offer" id="offer" placeholder="{{ gettext('Your Offer:') }}" aria-label="{{ gettext('Enter Offer') }}">
        </div>

        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold mb-2">{{ gettext("Email:") }}</label>
            <input class="form-input" type="email" name='email' id='email' placeholder="{{ gettext('Write Your Email:') }}" aria-label="Enter Email" required
            oninvalid="this.setCustomValidity('Enter valid email')"
            oninput="this.setCustomValidity('')">
        </div>

        <div class="mb-4">
            <label for="content" class="block text-gray-700 font-bold mb-2">{{ gettext("Work description:") }}</label>
            <textarea class="form-textarea" name='content' id="content" placeholder="{{ gettext('Describe what You are looking for:') }}" aria-label="Enter Content" rows="3"></textarea>
        </div>

        <input type="hidden" type="text" name='longitude' id='longitude'>
        <input type="hidden" type="text" name='latitude' id='latitude'>
        <script>
            document.addEventListener("location", (event) => {
                document.getElementById("latitude").value = event.detail.latitude;
                document.getElementById("longitude").value = event.detail.longitude;
            });
        </script>

        {{ hcaptcha }}

        <div class="flex justify-center mt-4">
            <input type='submit' value='{{ gettext("Submit") }}' class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        </div>
    </form>

    <script>
        document.querySelector("#newPostForm").addEventListener("submit", function(event) {
           var hcaptchaVal = document.querySelector('[name="h-captcha-response"]').value;
           if (hcaptchaVal === "") {
              event.preventDefault();
              alert("Please complete the hCaptcha");
           }
        });
    </script>
    
    <hr>
{% endblock %}
