{% extends 'base.html' %}

{% block head %}
<title>{{ gettext("Posts") }}</title> 
{% endblock %}

{% block body %}
<div class="max-w-xl mx-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">{{ gettext("All Listings") }}</h1>
    <a href="/posts/new" class="text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-blue-700 dark:focus:ring-green-800" style="z-index: 9999;">+ {{ gettext("New Listing") }}</a>
  </div>
  <hr class="my-4">
  {% for post in posts %}
    <div class="mb-4">
      <h2 class="text-xl font-bold mb-2">{{ post.title }}</h2>
      {% if post.author %}
        <small>{{ gettext("Written by") }} {{ post.author }} {{ gettext("on") }} {{ post.date_posted }}</small>
      {% else %}
        <small>{{ gettext("Date:") }}  {{ post.date_posted }}</small>
      {% endif %}
      <!-- {% if post.category %}
        <p class="mt-2 text-gray-700">{{ post.category.name }}</p>
      {% endif %} -->
      <p class="mt-2 text-gray-700 font-bold">Category: <span class="font-normal">{{ post.category }}</span></p>
      <p class="mt-2 text-gray-700 font-bold">Offer: <span class="font-normal">{{ post.offer }}</span></p>      
      <p class="mt-2 text-gray-700 font-bold">Work description:<span class="font-normal">{{ post.content }}</span></p> 
      <div class="mt-4">
        <a href='/apply/new/{{ urls[post.id] }}' class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full">{{ gettext("Apply") }} </a>
      </div>
    </div>
    <hr class="my-4">
  {% endfor %}
</div>
{% endblock %}